@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("../ressource/typo/roboto.otf") format("otf'"), url("../ressource/typo/roboto.svg") format("svg"), url("../ressource/typo/roboto.ttf") format("ttf"), url("../ressource/typo/roboto.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../ressource/typo/roboto-bold.otf") format("otf"), url("../ressource/typo/roboto-bold.svg") format("svg"), url("../ressource/typo/roboto-bold.ttf") format("ttf"), url("../ressource/typo/roboto-bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bolder";
  src: url("../ressource/typo/roboto-bolder.otf") format("otf"), url("../ressource/typo/roboto-bolder.svg") format("svg"), url("../ressource/typo/roboto-bolder.ttf") format("ttf"), url("../ressource/typo/roboto-bolder.woff") format("woff");
}

@font-face {
  font-family: "shrikhand";
  src: url("../ressource/typo/shrikhand.otf") format("otf"), url("../ressource/typo/shrikhand.svg") format("svg"), url("../ressource/typo/shrikhand.ttf") format("ttf"), url("../ressource/typo/shrikhand.woff") format("woff");
}

nav .bloc-fonction .font--1 {
  color: grey;
}

nav .bloc-fonction .font--2 {
  color: grey;
}

nav .bloc-fonction .font--3 {
  color: #9356DC;
}

body, html {
  width: 100%;
  background-color: white;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: roboto;
  color: black;
  text-decoration: none;
}

h1 {
  font-family: shrikhand;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: roboto-bolder;
  margin: 0;
}

h3 {
  font-family: roboto-bold;
  margin: 0;
}

fieldset {
  border: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset .checkbox input {
  display: none;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px #999999;
  position: relative;
}

header a {
  height: 37.5px;
  width: 50px;
  position: absolute;
  padding-top: 20px;
  text-align: center;
  left: 0;
  top: 0;
}

header a i {
  font-size: 20px;
  color: #404040;
}

footer {
  background-color: #333333;
  width: 100%;
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
}

footer div {
  margin: 10px 20px;
}

footer div h1 {
  font-size: 20px;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  margin: 10px 20px;
}

footer a i {
  color: #ffffff;
}

.img-background {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.menu {
  width: 100%;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -50px;
  background-color: #f2f2f2;
}

.menu .nom-resto {
  align-items: center;
  display: flex;
}

.menu .nom-resto h1 {
  font-size: 25px;
  width: 240px;
  margin: 25px 10px;
}

.menu .titre {
  margin: 40px 20px;
}

.menu .titre + div {
  border: 2px solid #99E2D0;
  position: relative;
  top: -35px;
  left: 20px;
  width: 40px;
}

.menu .bloc {
  background-color: #ffffff;
  width: 280px;
  overflow: hidden;
  height: auto;
  display: flex;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 6px 6px #999999;
}

.menu .bloc .sous-bloc {
  margin: 0;
  display: flex;
  min-width: 355px;
}

.menu .bloc .sous-bloc .nom {
  margin: 10px 0 0 10px;
  width: 225px;
  /*variable de 165 à 225px*/
  height: auto;
  font-size: 12px;
}

.menu .bloc .sous-bloc .nom h3 {
  margin: 5px 10px 10px 5px;
  width: 205px;
}

.menu .bloc .sous-bloc .nom p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 5px 10px 5px;
  white-space: nowrap;
}

.menu .bloc .sous-bloc .effect {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  font-size: small;
}

.menu .bloc .sous-bloc .effect h3 {
  padding-right: 20px;
  padding-bottom: 10px;
}

.menu .bloc .sous-bloc .effect i {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 25px;
  color: #ffffff;
  background-color: #99E2D0;
}

.menu .bloc input {
  display: none;
}

.menu .commander {
  background-color: #9356DC;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  height: 50px;
  width: 180px;
  border-radius: 25px;
}

.localisator {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #e6e6e6;
}

.localisator div {
  padding: 15px 10px;
  font-size: 15px;
}

.description {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.description div {
  margin: 10px;
  width: 90%;
  text-align: center;
}

.description a {
  padding: 20px;
  border-radius: 50px;
  font-family: roboto-bold;
  background-color: #9356DC;
  color: #ffffff;
  box-shadow: 0 6px 6px #999999;
  margin-bottom: 50px;
  /*background: linear-gradient(to top, $color-primary)*/
}

nav {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

nav .bloc-fonction {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  margin: 12px 0;
  position: relative;
  left: 12px;
  height: 60px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 6px 6px #999999;
}

nav .bloc-fonction i {
  color: #999999;
  padding-right: 22px;
}

nav .bloc-fonction .chiffre {
  background-color: #9356DC;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
}

nav .bloc-fonction div {
  font-weight: bold;
  font-size: small;
}

section {
  padding: 60px 10px;
  background-color: #f2f2f2;
}

section a {
  display: block;
  margin: 25px 0;
  box-shadow: 0 6px 6px #999999;
  border-radius: 20px;
  overflow: hidden;
}

section a .new {
  display: none;
  position: absolute;
}

section a img {
  object-fit: cover;
  width: 100%;
  height: 175px;
}

section a .texte-boite {
  display: flex;
  justify-content: space-between;
}

section a .texte-boite > div {
  padding: 15px;
}

.checkbox {
  font-size: 25px;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  display: block;
}

.checkbox .yes {
  position: relative;
  color: #9356DC;
  z-index: 2;
  opacity: 1;
}

.checkbox .no {
  position: relative;
  top: -30px;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */