body, html { width: 100%; background-color: #ffffff; margin: 0%; display: flex; flex-direction: column; align-items: center; }

* { font-family: 'Roboto', sans-serif; color: #000000; text-decoration: none; }

h1 { font-family: 'Shrikhand', cursive; font-weight: normal; margin: 0; }

h2 { font-weight: bold; margin: 0; }

h3, .nom-plat, .prix-plat { font-weight: bolder; font-size: 14px; margin: 0; }

fieldset { border: none; margin: 0%; padding: 0%; display: flex; flex-direction: column; align-items: center; }

fieldset .checkbox input { display: none; }

.loading { position: fixed; flex-direction: column; height: 100%; padding-bottom: 200%; top: 0; left: 0; z-index: 3; opacity: 0; background-color: #ffffff; animation: load-end; animation-delay: 0; animation-duration: 3s; animation-fill-mode: both; animation-timing-function: ease-out; }

.loading .big-round { width: 70px; height: 70px; display: flex; flex-wrap: wrap; justify-content: center; animation: loading; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: linear; }

.loading .big-round .round-1, .loading .big-round .round-2, .loading .big-round .round-3 { width: 25px; height: 25px; margin: 5px; border-radius: 100%; animation: round-bump; animation-fill-mode: both; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: linear; }

.loading .big-round .round-1 { top: 5px; right: 4px; background-color: #9356DC; }

.loading .big-round .round-2 { top: 5px; left: 4px; animation-delay: 600ms; background-color: #FF79DA; }

.loading .big-round .round-3 { top: 7px; animation-delay: 300ms; background-color: #99E2D0; }

@keyframes menu-arrive { 0% { opacity: 0;
    transform: translateY(30px); }
  100% { opacity: 1; } }

@keyframes loading { 0% { transform: rotate(0.65turn); }
  100% { transform: rotate(2.65turn); } }

@keyframes load-end { 0% { transform: translateY(0%);
    opacity: 1; }
  100% { transform: translateY(-300%);
    opacity: 1; } }

@keyframes round-bump { 0% { transform: scale(0); }
  50% { transform: scale(1.5); }
  100% { transform: scale(0); } }

header { height: 60px; }

header img { height: 25px; }

header a { width: 50px; height: 37.5px; text-align: center; position: absolute; padding-top: 20px; left: 0; top: 0; }

header a i { font-size: 20px; color: #404040; }

@media screen and (min-width: 850px) { header { height: 100px; }
  header img { height: 50px; }
  header a { width: 100px; height: 75px; }
  header a i { font-size: 50px; } }

footer { display: flex; flex-direction: column; padding: 25px 0 25px 0; background-color: #333333; }

footer div { margin: 10px 20px; }

footer div h1 { font-size: 20px; color: #ffffff; }

footer .ensemble-footer { display: flex; flex-wrap: wrap; justify-content: left; }

footer .ensemble-footer a { width: 250px; margin: 10px 20px; color: #ffffff; }

footer .ensemble-footer a i { color: #ffffff; }

.img-background { height: 250px; object-fit: cover; }

.menu { top: -50px; border-radius: 50px 50px 0 0; background-color: #f2f2f2; }

.menu .nom-resto h1 { width: 240px; font-size: 25px; margin: 25px 10px; }

.menu .nom-resto .checkbox { top: 0; left: 0; }

.menu .ensemble-plat { display: flex; flex-wrap: wrap; justify-content: space-around; width: 80%; }

.menu .titre { margin: 40px 20px; }

.menu .titre + div { width: 40px; top: -35px; left: 20px; border: 2px solid #99E2D0; }

.menu .bloc { width: 280px; opacity: 0; animation-name: menu-arrive; animation-duration: 1s; display: flex; position: relative; overflow: hidden; height: auto; margin: 10px; background-color: #ffffff; animation-fill-mode: forwards; }

.menu .bloc .sous-bloc { min-width: 355px; display: flex; margin: 0; }

.menu .bloc .sous-bloc .nom { width: 230px; height: auto; font-size: 12px; margin: 10px 0 0 10px; transition-duration: 0.4s; }

.menu .bloc .sous-bloc .nom .nom-plat { display: flex; width: 205px; margin: 5px; }

.menu .bloc .sous-bloc .nom .def-plat { display: flex; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11px; margin: 5px 10px 10px 5px; }

.menu .bloc .sous-bloc .effect { display: flex; flex-direction: row; align-items: flex-end; font-size: 12px; }

.menu .bloc .sous-bloc .effect .prix-plat { padding-right: 20px; padding-bottom: 9px; }

.menu .bloc .sous-bloc .effect .validation { width: 60px; height: 100%; background-color: #99E2D0; }

.menu .bloc .sous-bloc .effect i { font-size: 25px; color: #ffffff; }

.menu .bloc input { display: none; }

.menu .commander { width: 180px; height: 50px; border: none; margin-top: 30px; border-radius: 25px; background: linear-gradient(#FF79DA, #9356DC); color: #ffffff; transition-duration: 0.4s; }

.localisator { background: #e6e6e6; }

.localisator div { font-size: 15px; padding: 15px 10px; }

.description { display: flex; flex-direction: column; align-items: center; padding-top: 30px; }

.description div { width: 90%; margin: 10px; text-align: center; }

.description h2 { margin-left: 0px; }

.description h3 { text-align: center; width: 200px; height: 35px; border-radius: 50px; padding-top: 15px; font-size: 15px; background: linear-gradient(#FF79DA, #9356DC); color: #ffffff; transition-duration: 0.4s; }

nav { width: 85%; display: flex; flex-direction: column; align-items: center; padding: 60px 0; }

nav h2 { margin-right: 100px; }

nav .bloc-fonction { min-width: 250px; height: 60px; display: flex; align-items: center; margin: 12px; background-color: #f2f2f2; }

nav .bloc-fonction i { padding-right: 22px; color: #999999; }

nav .bloc-fonction .chiffre { width: 24px; height: 24px; left: -12px; background-color: #9356DC; color: #ffffff; }

nav .bloc-fonction div { font-weight: bold; font-size: 12px; }

section { padding: 60px 0; background-color: #f2f2f2; width: 100%; }

section h2 { margin-right: 100px; }

section .bloc-resto { margin: 10px; }

section .bloc-resto h3 { margin-bottom: 5px; font-size: 20px; }

section .bloc-resto a { width: 280px; display: block; overflow: hidden; margin-bottom: -30px; }

section .bloc-resto a .new { width: 70px; height: 30px; position: absolute; margin-top: 10px; margin-left: 70%; background-color: #99E2D0; }

section .bloc-resto a .new h3 { font-size: 15px; color: #278870; }

section .bloc-resto a img { height: 175px; object-fit: cover; }

section .bloc-resto a .texte-boite { display: flex; justify-content: space-between; }

section .bloc-resto a .texte-boite > div { padding: 15px; }

.heart { width: 50px; height: 50px; top: -35px; left: 220px; display: block; position: relative; text-align: center; padding-top: 15px; }

.heart .yes { z-index: 2; opacity: 0; font-size: 28px; padding: 0 5px; color: #9356DC; transition-duration: 0.3s; transform: scale(0); }

.heart .no { font-size: 25px; top: -27px; color: #000000; }

@media screen and (min-width: 850px) { h2 { margin-left: 100px; }
  .ensemble-bloc-fonction { display: flex; justify-content: space-around; width: 90%; }
  .ensemble-bloc-resto { display: flex; flex-wrap: wrap; justify-content: space-around; width: 70%; } }

.loading, header, .menu .nom-resto, .menu .bloc .sous-bloc .effect .validation, .localisator, nav .bloc-fonction .chiffre, section .bloc-resto a .new { display: flex; justify-content: center; align-items: center; }

header, .menu, .menu .titre + div, .menu .bloc .sous-bloc .effect, .heart .yes, .heart .no { position: relative; }

header, .menu .bloc, .menu .commander, .description h3, nav .bloc-fonction, section .bloc-resto a { box-shadow: 0 3px 6px #999999; }

.loading, header, footer, .img-background, .menu, .localisator, section .bloc-resto a img { width: 100%; }

.menu .bloc, nav .bloc-fonction, nav .bloc-fonction .chiffre, section .bloc-resto a { position: relative; border-radius: 15px; }

nav .bloc-fonction .font--1 { color: #999999; }

nav .bloc-fonction .font--2 { color: #999999; }

nav .bloc-fonction .font--3 { color: #9356DC; }

.anim--1 { animation-delay: 400ms; }

.anim--2 { animation-delay: 800ms; }

.anim--3 { animation-delay: 1200ms; }

.anim--4 { animation-delay: 1600ms; }

.anim--5 { animation-delay: 2000ms; }

.anim--6 { animation-delay: 2400ms; }

.anim--7 { animation-delay: 2800ms; }

.anim--8 { animation-delay: 3200ms; }

.anim--9 { animation-delay: 3600ms; }

.anim--10 { animation-delay: 4000ms; }

.description a :hover, .commander:hover { opacity: 0.8; box-shadow: 0 3px 10px black; border: none; }

.bloc input:checked + .sous-bloc .nom { width: 166px; }

.bloc input:checked + .sous-bloc i { transform: rotate(1turn); transition-duration: 0.5s; }

.heart :checked + span .yes { opacity: 1; transform: scale(1); }
/*# sourceMappingURL=style.css.map */