.description a :hover, .commander:hover{
    opacity: 0.8;
    box-shadow: 0 3px 10px darken($color-background,100%);
    border: none;
    outline: none;
}

.bloc input:checked + .sous-bloc .nom {
    width: 166px;
}

.bloc input:checked +.sous-bloc i{
    transform: rotate(1turn);
    transition-duration: 0.5s;
}

.heart :checked + span .yes{
    opacity: 1;
    transform:scale(1)
}