

body, html{
    width: 100%;
    background-color: $color-background;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: 'Roboto', sans-serif;
    color: $color-font;
    text-decoration: none;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    margin: 0;
}

h2{
    font-weight: bold;
    margin: 0;
}

h3, .nom-plat, .prix-plat{
    font-weight: bolder;
    font-size: 14px;
    margin: 0;
}

fieldset{
    border: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .checkbox input{
        display: none;
    }
}
