

body, html{
    @extend %color-background;
    @extend %no-marge;
    @extend %column;
    @extend %align-item;
    @extend %max-width;
}

*{
    font-family: 'Roboto', sans-serif;
    color: $color-font;
    text-decoration: none;
}

h1{
    @extend %no-marge;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}

h2{
    @extend %no-marge;
    font-weight: bold;
}

h3, .nom-plat, .prix-plat{
    @extend %no-marge;
    font-weight: bolder;
    font-size: 14px;
}

fieldset{
    @extend %no-marge;
    @extend %column;
    @extend %align-item;
    text-align: left;
    padding: 0%;
    border: none;
    .checkbox input{
        display: none;
    }
}
