

body, html{
    width: 100%;
    background-color: $color-background;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: roboto;
    color: $color-font;
    text-decoration: none;
}

h1{
    font-family: shrikhand;
    font-weight: normal;
    margin: 0;
}

h2{
    font-family:roboto-bolder;
    margin: 0;
}

h3{
    font-family: roboto-bold;
    margin: 0;
}

fieldset{
    border: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .checkbox input{
        display: none;
    }
}
