@font-face {
    font-family: "roboto";
    src: url("../ressource/typo/roboto.otf") format("otf'"),
    url("../ressource/typo/roboto.svg") format("svg"),
    url("../ressource/typo/roboto.ttf") format("ttf"),
    url("../ressource/typo/roboto.woff") format("woff");
}

@font-face{
    font-family: "roboto-bold";
    src: url("../ressource/typo/roboto-bold.otf") format("otf"),
    url("../ressource/typo/roboto-bold.svg") format("svg"),
    url("../ressource/typo/roboto-bold.ttf") format("ttf"),
    url("../ressource/typo/roboto-bold.woff") format("woff");
}

@font-face{
    font-family: "roboto-bolder";
    src: url("../ressource/typo/roboto-bolder.otf") format("otf"),
    url("../ressource/typo/roboto-bolder.svg") format("svg"),
    url("../ressource/typo/roboto-bolder.ttf") format("ttf"),
    url("../ressource/typo/roboto-bolder.woff") format("woff");
}

@font-face{
    font-family: "shrikhand";
    src: url("../ressource/typo/shrikhand.otf") format("otf"),
    url("../ressource/typo/shrikhand.svg") format("svg"),
    url("../ressource/typo/shrikhand.ttf") format("ttf"),
    url("../ressource/typo/shrikhand.woff") format("woff");
}
