%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%relative{
    position: relative;
}

%shadow {
    box-shadow: 0 3px 6px darken($color-background,40%);
}

%max-width {
    width: 100%;
}

%courbe-fine {
    position: relative;
    border-radius: 15px;
}

%no-marge{
    margin: 0;
}

%color-background{
    background-color: $color-background;
}

%flex{
    display: flex;
    flex-wrap: wrap;
}

%column{
    display: flex;
    flex-direction: column;
}

%align-item{
    align-items: center;
    text-align: center;
}

%font-is-background{
    color: $color-background;
}

@for $i from 1 through 2{
    nav .font--#{$i}{
        @if ($i>1){
            background-color:lighten($color-secondary,90%);
            .fas{
                color: $color-primary;
            }
        }
        @else{
            background-color: darken($color-background,5%);
            .fas{
                color: darken($color-background,40%);
            }
        }
    }
}

@for $e from 1 through 10{
    .anim--#{$e} {
        animation-delay: $loading-menu * $e;
    }
}
