footer{
    @extend %max-width;
    @extend %column;
    padding: 25px 0 25px 0;
    background-color: darken($color-background,80%);
    div{
        margin: 10px 20px;
        h1{
        font-size: 20px;
        @extend %font-is-background;
        }
    }
    .ensemble-footer{
        @extend %flex;
        justify-content: left;
        a {
            @extend %font-is-background;
            width: 250px;
            margin: 10px 20px;
            i{
                @extend %font-is-background;
            }
        }
    }
}
