footer{
    @extend %max-width;
    display: flex;
    flex-direction: column;
    padding: 25px 0 25px 0;
    background-color: darken($color-background,80%);
    div{
        margin: 10px 20px;
        h1{
        font-size: 20px;
        color: $color-background;
        }
    }
    .ensemble-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        a {
            width: 250px;
            margin: 10px 20px;
            color: $color-background;
            i{
                color: $color-background;
            }
        }
    }
}
