header{
    @extend %center;
    @extend %shadow;
    @extend %max-width;
    @extend %relative;
    height: 60px;
    img{
        height: 25px;
    }
    a{
        width: 50px; height: 37.5px;
        @extend %align-item;
        position: absolute;
        padding-top: 20px;
        left: 0;
        top: 0;
        i{
            font-size: 20px;
            color: darken($color-background, 75%);
        }
    }
}

@media screen and (min-width: 850px){
    header{
        height: 100px;
        img{
            height: 50px;
        }
        a{
            width: 100px; height: 75px;
            i{
                font-size: 50px;
                }
        }
    }
}