
.loading{
    @extend %center;
    @extend %max-width;
    @extend %color-background;
    @extend %column;
    position: fixed;
    height: 100%;
    padding-bottom: 200%;
    top: 0;
    left: 0;
    z-index: 3;
    animation: load-end 3s $loading-duration forwards ease-out;
    .big-round{
        @extend %flex;
        width: 70px; height: 70px;
        justify-content: center;
        animation: loading 1s infinite linear;
        .round-1, .round-2, .round-3{
            width: 25px; height: 25px;
            margin: 5px;
            border-radius: 100%;
            animation: round-bump 1s backwards infinite linear;
        }
        .round-1{
            top: 5px;
            right: 4px;
            background-color: $color-primary;
        }
        .round-2{
            top: 5px;
            left: 4px;
            animation-delay: 600ms;
            background-color: $color-secondary;
        }
        .round-3{
            top: 7px;
            animation-delay: 300ms;
            background-color: $color-tertiary;
        }
    }
}