.img-background{
    @extend %max-width;
    height:250px;
    object-fit: cover;
}

.menu{
    @extend %max-width;
    @extend %relative;
    top: -50px;
    border-radius: 50px 50px 0 0;
    background-color: darken($color-background,5%);
    .nom-resto{
        @extend %center;
        h1{
            width: 240px;
            font-size: 25px;
            margin: 25px 10px;
        }
    }
    .titre{
        margin: 40px 20px;
        +div{
            @extend %relative;
            width: 40px;
            top: -35px;
            left: 20px;
            border: 2px solid $color-tertiary;
        }
    }
    .bloc{
        @extend %shadow;
        @extend %courbe-fine;
        width: 280px;
        display: flex;
        overflow: hidden;
        height: auto;
        margin: 10px;
        background-color: $color-background;
        .sous-bloc{
            min-width: 355px;
            display:flex;
            margin: 0;
            .nom{
                width: 166px; /*variable de 166 à 226px*/
                height: auto;
                font-size: 12px;
                margin: 10px 0 0 10px;
                h3{
                    width: 205px;
                    margin: 5px;
                }
                p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    margin: 5px 10px 10px 5px;
                }
            }
            .effect{
                @extend %relative;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                font-size: 12px;
                h3{
                    padding-right: 20px;
                    padding-bottom: 9px;
                }
                i{
                    @extend %center;
                    width: 60px; height: 100%;
                    font-size: 25px;
                    color: $color-background;
                    background-color: $color-tertiary;
                }
            }
        }
        input{
            display: none;
        }
    }
    .commander{
        width: 180px; height: 50px;
        border: none;
        margin-top: 30px;
        border-radius: 25px;
        background: linear-gradient($color-secondary, $color-primary);
        color: $color-background;
    }
}