.img-background{
    width: 100%;
    object-fit: cover;
    height:250px;
}

.menu{
    width: 100%;
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -50px;
    background-color: darken($color-background,5%);
    .nom-resto{
        align-items: center;
        display: flex;
        h1{
            font-size: 25px;
            width: 240px;
            margin: 25px 10px;
        }
    }
    .titre{
        margin: 40px 20px;
        +div{
            border: 2px solid $color-tertiary;
            position: relative;
            top: -35px;
            left: 20px;
            width: 40px;
        }
    }
    .bloc{
        background-color: $color-background;
        width: 280px;
        overflow: hidden;
        height: auto;
        display: flex;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0 6px 6px darken($color-background,40%);
        .sous-bloc{
            margin: 0;
            display:flex;
            min-width: 355px;
            .nom{
                margin: 10px 0 0 10px;
                width: 225px; /*variable de 165 à 225px*/
                height: auto;
                font-size: 12px;
                h3{
                    margin: 5px 10px 10px 5px;
                    width: 205px;
                }
                p{
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 5px 5px 10px 5px;
                    white-space:nowrap;
                }
            }
            .effect{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                position: relative;
                font-size: small;
                h3{
                    padding-right: 20px;
                    padding-bottom: 10px;
                }
                i{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    font-size: 25px;
                    color: $color-background;
                    background-color: $color-tertiary;
                }
            }
        }
        input{
            display: none;
        }
    }
    .commander{
        background-color: $color-primary;
        color: $color-background;
        border: none;
        margin-top: 30px;
        height: 50px;
        width: 180px;
        border-radius: 25px;
    }
}