
.localisator{
    @extend %max-width;
    @extend %center;
    background: darken($color-background,10%);
    div{
        padding: 15px 10px;
        font-size: 15px;
    }
}

.description{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:darken($color-background,5%);
    div{
        margin: 10px;
        width: 90%;
        text-align: center;
    }
    a{
        padding: 20px;
        border-radius: 50px;
        background-color: $color-primary;
        @extend %shadow;
        margin-bottom: 50px;
        /*background: linear-gradient(to top, $color-primary)*/
        h3{
        color: $color-background;
        font-size: 15px;

        }
    }
}

nav {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    .bloc-fonction{
        @extend %shadow;
        @extend %courbe-fine;
        background-color: darken($color-background,5%);
        display: flex;
        align-items: center;
        margin: 12px 0;
        left: 12px;
        height:60px; 
        width:90%;
        i{
            color: darken($color-background,40%);
            padding-right: 22px;
        }
        .chiffre{
            @extend %center;
            @extend %courbe-fine;
            width: 24px;height: 24px;
            left:-12px ;
            background-color: $color-primary;
            color: $color-background;
        }
        div{
            font-weight: bold;
            font-size: 12px;
        }
    }
}

section{
    padding: 60px 10px;
    background-color: darken($color-background,5%);
    a{
        display: block;
        margin: 25px 0;
        @extend %shadow;
        @extend %courbe-fine;
        overflow: hidden;
        .new{
            height: 30px;
            width: 70px;
            @extend %center;
            background-color: $color-tertiary;
            margin-top: 10px;
            margin-left: 70%;
            position: absolute;
            h3{
                font-size: 15px;
                color: darken($color-tertiary, 40%);
            }
        }
        img{
            object-fit: cover;
            @extend %max-width;
            height: 175px;
        }
        .texte-boite{
            display: flex;
            justify-content: space-between;
            >div{
            padding: 15px;
            }
        }
    }
}

.checkbox{
    font-size: 25px;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    display: block;
    .yes{
        @extend %relative;
        color: $color-primary;
        z-index: 2;
        opacity: 1;
    }
    .no{
        @extend %relative;
        top: -30px;
        color: $color-font;
    }
}